{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <style>
            button {
                border: 0.5px solid  #CCCCCC;
                border-radius: 4px;
                background-color: white;
                margin-bottom: 20px;
            }
            .content-section {
                margin-top: 30px;
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
            }
        </style>
    </head>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn-outline" type="submit">Sign Up</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}